@import "tailwindcss";
@plugin "@tailwindcss/typography";
@theme {
  --color-Primary: rgba(var(--Primary));
  --color-Secondary: rgba(var(--Secondary));
  --color-Text: rgba(var(--Text));
  --color-Muted: rgba(var(--Muted));
  --color-border: rgba(var(--border));
}
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
[data-youtube-video] {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#player{
  margin: 0 auto;
  width: fit-content;
}
:root {
  
  scroll-behavior: smooth;
  color-scheme: light dark;
  background-color: rgba(var(--Primary));
  box-sizing: border-box;
  --Primary: 255, 255, 255;
  --Secondary: 212, 212, 212;
  --Text: 0, 0, 0;
  --Muted: 0, 0, 0, 0.6;
  --border: 153, 161, 175;
  
}
[data-theme="dark"] {
  
  --Primary: 0, 0, 0;
  --Secondary: 50, 50, 50;
  --Text: 255, 255, 255;
  --Muted: 250, 250, 250, 0.6;
  --border: 153, 161, 175;
}
#disqus_thread{
  /* force light mode */
  color-scheme: light !important;
 filter: none;
 background-color: white;
}

/* If you switch your site to dark mode, keep forcing “light” inside the iframe */
[data-theme="dark"] #disqus_thread{
  color-scheme: light !important;
  color: white !important;
  background-color: black !important;
}

* ::-webkit-scrollbar {
  width: 8px;
}


* ::-webkit-scrollbar-thumb {
  background-color: #aaaaaa;
  border-radius: 4px;
}

/* For Firefox */
* {
  scrollbar-color: #aaa transparent;
  scrollbar-width: thin;
}

[data-theme="dark"] ::-webkit-scrollbar {
  width: 8px;
}

[data-theme="dark"] ::-webkit-scrollbar-thumb {
  background-color: #4a4a4a;
  border-radius: 4px;
}

/* For Firefox */
[data-theme="dark"] {
  scrollbar-color: #4a4a4a transparent;
  scrollbar-width: thin;
}


#Github_Button{
background-color: #22222270;
color: white;
&:hover{
  background-color: #222222;
  color: white;
}
}

#Website_Button{
color: black;
background-color: white;
&:hover{
  background-color: gray;
  color: white;
}
}

