@import "tailwindcss";
@theme {
  --color-Primary: rgba(var(--Primary));
  --color-Secondary: rgba(var(--Secondary));
  --color-Text: rgba(var(--Text));
  --color-Muted: rgba(var(--Muted));
  --color-border: rgba(var(--border));
}
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
  color-scheme: light dark;
  background-color: rgba(var(--Primary));
  box-sizing: border-box;



    --Primary: 255, 255, 255;
    --Secondary: 212, 212, 212;
    --Text: 0, 0, 0;
    --Muted: 0, 0, 0, 0.6;
    --border: 153, 161, 175;
  
}
[data-theme="dark"] {
  --Primary: 0, 0, 0;
  --Secondary: 50, 50, 50;
  --Text: 255, 255, 255;
  --Muted: 250, 250, 250, 0.6;
  --border: 153, 161, 175;
}
h1 {
  font-size: 1.2rem; /* equivalent to text-2xl */

  margin-bottom: 1rem;
  font-weight: 600; /* equivalent to font-medium */
}
